[submodule "kbs-haproxy"]
	path = kbs-haproxy
	url = https://github.com/longnan/kbs-haproxy.git
	branch = kbs-default
[submodule "kbs-portainer"]
	path = kbs-portainer
	url = https://github.com/longnan/kbs-portainer.git
[submodule "kbs-pgsingle"]
	path = kbs-pgsingle
	url = https://github.com/longnan/kbs-pgsingle.git
[submodule "kbs-pgseed"]
	path = kbs-pgseed
	url = https://github.com/longnan/kbs-pgseed.git
[submodule "kbs-pgmigrator"]
	path = kbs-pgmigrator
	url = https://github.com/longnan/kbs-pgmigrator.git
[submodule "kbs-pgweb"]
	path = kbs-pgweb
	url = https://github.com/longnan/kbs-pgweb.git
[submodule "kbs-server"]
	path = kbs-server
	url = https://github.com/longnan/kbs-server.git
[submodule "kbs-pgbackupper"]
	path = kbs-pgbackupper
	url = https://github.com/longnan/kbs-pgbackupper.git
	branch = kbs-default
